<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="contenido">

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <h1 class="text-center"><i class="fas fa-users"></i> Crear/Editar Cliente</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
           

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>    
          
           <form th:action="@{/guardarcliente}"  th:object="${cliente}" method="post">
           <input type="hidden" th:field="*{id}" th:value="${cliente.id}">
           <input type="hidden" th:field="*{usuarios}" th:value="${cliente.usuarios.id}">
           <input type="hidden" th:field="*{municipios}" th:value="${cliente.municipios.id}">
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" th:field="*{nombre}" class="form-control">
                <small class="from-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Apellido(s)</label>
                  <input type="text" class="form-control"  th:field="*{apellido}">
                <small class="from-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" th:field="*{direccion}">
                <small class="from-text text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Telefono</label>
                  <input type="text" class="form-control" th:field="*{telefono}">
                <small class="from-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
                  </select>
              </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
                
            </div>
            <!-- /.row -->
            <button type="submit" class="btn btn-info" >Confirmar</button>
            <div class="row">
              
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          </form>
        </div>
        
         <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>

   </section>
   </div>
       <!-- /.card -->
</body>
</html>