<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Cliente</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="contenido">

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <h1 class="text-center"><i class="fas fa-user-tag"></i> Editar Cliente</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
             
          
           <form th:action="@{/cliente/guardar}" id="formulariocliente" th:object="${cliente}" method="post">
           <input type="hidden" th:field="*{id}" th:value="${cliente.id}">
           <input type="hidden" th:field="*{usuarios}" th:value="${cliente.usuarios.id}">
           <input type="hidden" th:field="*{municipios}" th:value="${cliente.municipios.id}">
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nombre *</label>
                  <input type="text" th:field="*{nombre}" class="form-control">
                <small id="mensajerror" style="color: red;"></small>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Apellido *</label>
                  <input type="text" class="form-control"  th:field="*{apellido}">
                <small id="mensajerror" style="color: red;"></small>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección *</label>
                  <input type="text" class="form-control" th:field="*{direccion}">
                <small id="mensajerror" style="color: red;"></small>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label>Teléfono *</label>
                  <input type="text" class="form-control" th:field="*{telefono}">
                <small id="mensajerror" style="color: red;"></small>
                  </select>
              </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
                
            </div>
            <!-- /.row -->
            <button type="submit" class="btn btn-info" >Confirmar</button>
            <a th:href="@{/cliente/listar}" class="btn btn-outline-success"><i class="fas fa-undo-alt"></i> Volver</a>
            <div class="row">
              
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          </form>
        </div>
</div>
   </section>
   </div>
</body>
</html>