<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="recursos/navbar::head">
<meta charset="UTF-8"/>
<title>Art Academy</title>
</head>
<body>

<nav th:replace="recursos/navbar::navbar">

</nav>

    <!-- Navbar -->

 <br><br><br><br>

  <main>

    <div class="container">

      <!-- Section main -->
      <section class="pt-2 mt-4">

        <div class="card">
          <div class="card-body">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-2">
                <h6>Categorias</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item pl-0" th:each="cate: ${categoria}"><a class="text-dark" th:href="@{/tienda/categorias/}+${cate.id}" th:text="${cate.nombrecategoria}"></a></li>
                </ul>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-8 col-lg-8 col-xl-8">

                <!--Carousel Wrapper-->
                <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                  <!--Indicators-->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                  </ol>
                  <!--/Indicators-->
                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="view" style="max-height: 418px;">
                        <img class="d-block" width="1000" th:src="@{/frontend/img/16.png}"
                          alt="First slide">
                        
                      </div>
                    </div>
                    <div class="carousel-item">
                      <!--Mask color-->
                      <div class="view" style="max-height: 418px;">
                        <img class="d-block" width="1000" th:src="@{/frontend/img/17.png}"
                          alt="First slide">
                        
                      </div>
                    </div>
                    <div class="carousel-item">
                      <!--Mask color-->
                      <div class="view" style="max-height: 418px;">
                        <img class="d-block" width="1000" th:src="@{/frontend/img/15.png}"
                          alt="First slide">
                      </div>
                    </div>
                  </div>
                  <!--/Slides-->
                  <!--Controls-->
                  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <!--/Controls-->
                </div>
                <!--/Carousel Wrapper-->

              </div>
              <!-- Grid column -->

              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
        </div>

      </section>
      </div>
      </main>
      
      <!-- Section main -->
  <br><br><br><br>
 <div class="container">
<div class="row">
<div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3" th:each="obras:${obra}">
  <!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" th:if="${#strings.length(obras.rutaimagen_principal)>0}" th:src="@{'/imagenes/'+${obras.rutaimagen_principal}}"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title text-center"  th:text="${obras.nombre}"></h4>
      <!--Text-->
      <p class="card-text">[[${obras.descripcion}]]</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="Detalle.html"  class="btn btn-default  btn-block">!Lo Quiero</a>

    </div>

  </div>
  <!-- Card -->

 


  <!-- Card -->
</div>
</div>
</div>
<!-- Card deck -->
 </div>
 
 <nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			  
			   
			    
			    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled': ''}">
			      <a class="page-link" 
			      th:if="${currentPage>1}" 
					 th:href="@{'/obrastodaspagina/' + ${currentPage-1}}">Anterior</a>
			       <span th:unless="${currentPage>1}" class="page-link">Anterior</span>
			    </li>
			    
			    <li th:each="i:${#numbers.sequence(1,totalpages)}" class="page-item " th:classappend="${i == currentPage ? 'active': ''}">
			    <a th:if="${ i != currentPage }" th:href="@{'/obrastodaspagina/' +  ${i}}" 
			    class="page-link">[[${i}]]</a>
			    <span class="page-link" th:unless="${i != currentPage}">[[${i}]]</span>&nbsp;&nbsp;</li>
			    
			    <li class="page-item" th:classappend="${currentPage==totalpages ? 'disabled': ''}">
			      <a class="page-link" th:if="${currentPage<totalpages }" 
					 th:href="@{'/obrastodaspagina/' + ${currentPage + 1}}">Siguiente</a>
				  <span	th:unless="${currentPage < totalpages}" class="page-link">Siguiente</span> 
			    </li>
			  </ul>
			</nav>
 
 
 
 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Nombre Empresa</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Productos</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">ENLACES ÚTILES
        </h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> ArtAcademy</a>
  </div>
  <!-- Copyright -->

</footer>
        
               
 <div th:replace="recursos/navbar::js">  
             
 </div>
</body>
</html>