<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cambiar Contraseña </title>
<link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/style.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/error403.css}">
</head>
<body>
<div class="text-center py-4">
 
<h3>Cambiar mi contraseña</h3>
<br>
<form th:action="@{/usuario/editarpassword/guardar}" method="post" >

<div class="form-group">
<label>Contraseña anterior</label>
<input type="password" name="password" id="password">
</div>

<div class="form-group">
<label>Confirmar Contraseña</label>
<input type="password" onchange="verificar_password(this)">
</div>
<div>
<button type="submit" class="btn btn-success">Cambiar</button>
<a th:href="@{/usuario/miperfil}" class="btn btn-success">Volver</a>
</div>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
	<script type="text/javascript" th:src="@{/frontend/js/validacion.js}"></script>
		<script th:src="@{/frontend/acount/js/main.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript">
function verificar_password(campoConfirmar){
	if(campoConfirmar.value!=$("#password").val()){
		campoConfirmar.setCustomValidity("Las contraseñas no coiniciden");
	}
	else{
		campoConfirmar.setCustomValidity("");
	}
} 
</script>
</body>
</html>