<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/style.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/error403.css}">
</head>
<body>
<div class="text-center py-4">
 
<h3>Cambiar mi contraseña</h3>
<br>
<form th:action="@{/editarpassword/guardar}" method="post" >

<div class="form-group">
<label>Contraseña anterior</label>
<input type="password" name="contraseña" >
</div>

<div class="form-group">
<label>Confirmar Contraseña</label>
<input type="password">
</div>
<div>
<button type="submit" class="btn btn-success">Cambiar</button>
</div>
</form>
</div>

</body>
</html>