<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="recursos/navbar::head">
<meta charset="UTF-8">

</head>
<body>

	<!-- Navbar -->
	<nav th:fragment="navbar"
		class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
		<div class="container">

			<!-- Brand -->
			<a class="navbar-brand waves-effect" href="Index.html"> <strong
				class="orange-text">ART ACADEMY</strong>
			</a>

			<!-- Collapse -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Links -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<!-- Left -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link waves-effect"
						href="#"><i class="fas fa-home"></i> <span class="sr-only">(current)</span>inicio
					</a></li>
					<li class="nav-item"><a class="nav-link waves-effect"
						href="Categorias.html"><i class="fas fa-archive"></i>
							Categorías</a></li>
					<li class="nav-item"><a class="nav-link waves-effect"
						href="Contactanos/contactenos.html" target="_blank"><i
							class="fas fa-phone-alt"></i> Contáctanos </a></li>
				</ul>
				<!-- Search form -->
				<form class="form-inline">
					<i class="fas fa-search" aria-hidden="true"></i> <input
						class="form-control form-control-sm ml-3 w-75" type="text"
						placeholder="Search" aria-label="Search">
				</form>
				<!-- Right -->
				<ul class="navbar-nav nav-flex-icons">
					<li class="nav-item"><a class="nav-link waves-effect"
						href="carrito.html"> <span class="badge red z-depth-1 mr-1">
								2 </span> <i class="fas fa-shopping-cart"></i> <span
							class="clearfix d-none d-sm-inline-block"> Carrito </span>
					</a></li>
					<li class="nav-item"><a href="Login.html"
						class="nav-link waves-effect"> <i class="fas fa-user"></i> <span
							class="clearfix d-none d-sm-inline-block"> Mi Cuenta </span>
					</a></li>
					<li class="nav-item "><a href="Registrar.html"
						class="nav-link waves-effect"> <i class="fas fa-share"></i> <span
							class="clearfix d-none d-sm-inline-block blue-text">
								Registrarse </span>
					</a></li>
				</ul>

			</div>

		</div>
	</nav>
	<!-- Navbar -->


	<h1>holis</h1>

	<div th:replace="recursos/navbar::js"></div>
</body>
</html>
