<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/frontend/acount/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/css/main.css}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/css/alert.css}">
</head>

<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" th:action="@{/login}" method="post">
					
					<span class="login100-form-title p-b-43">
					<i class="fas fa-sign-in-alt"></i>
						Formulario de ingreso
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "El correo es requerido">
						<input class="input100" type="text" name="correo">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="far fa-envelope"></i> Correo elétronico</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="La contraseña es requerida">
						<input class="input100" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="fas fa-key"></i> Contraseña</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
						
							<a th:href="@{/registro}" class="txt1">
								¿No tienes Cuenta? Registro
							</a>
						</div>

						<div>
							<a th:href="@{/recuperarpassword}" class="txt1">
								¿Olvidadtes tu contraseña?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Ingresar
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							o regístrate usando 
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a th:href="@{/oauth2/authorization/google}" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fab fa-google"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('frontend/acount/images/1.png');">
				</div>
			</div>
		</div>
	</div>
	<div class="alerta show" th:if="${info!=null}">
		<span class="fas fa-check-circle"></span> <span class="msg">Éxito:
			[[${info}]]</span> <span class="close-btn"> <span
			class="fas fa-times"></span>
		</span>
	</div>

	<div class="error show" th:if="${error!=null}">
		<span class="fas fa-exclamation-triangle"></span> <span class="msg">Advertencia
			: [[${error}]]</span> <span class="close-btn"> <span
			class="fas fa-times"></span>
		</span>
	</div>
	

	
	
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/frontend/acount/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/frontend/acount/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/js/main.js}"></script>
<script type="text/javascript">
		$('.close-btn').click(function() {

			$('.alerta').addClass('hiden');
			$('.alerta').removeClass('show');
			$('.error').addClass('hiden');
			$('.error').removeClass('show');
		});
	</script>
</body>
</html>
