<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="recursos/navbar :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<nav th:replace="recursos/navbar :: navbar"></nav>
 <div class="container page-content my-5 py-5 mb-4">
    <div class="row">    
 <div class="col-md-3 col-lg-2">
        <div class="card">
 
          <div class="list-group list-group-flush">
            <a th:href="@{/usuario/miperfil}" class="list-group-item list-group-item-action"><i data-feather="user" class="mr-3"></i> Perfil</a>
            <a th:href="@{/ordenes}" class="list-group-item list-group-item-action"><i data-feather="shopping-bag" class="mr-3"></i> Ordenes</a>
            
            
          </div>
        </div>
      
</div>
      
       <div class="col mt-3 mt-md-0">
          <div th:if="${info != null}" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong th:text="${info}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong th:text="${error}"></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              
          <div class="card">
            <div class="card-body">
              <h3 class="text-center">Mi Perfil</h3><hr>
              <form th:action="@{/usuario/actualizar/perfil}"  method="post" >
                <div class="form-row">
                                   
                 
                  
                  <div class="form-group col-sm-6">
                    <label for="email">Correo</label>
                    <input th:value="${usuario.correo}" name="correo" class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="email">Nombre</label>
                    <input type="text" th:field="*{cliente.nombre}" class="form-control" >
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="email">Apellido(s)</label>
                    <input type="text" th:field="*{cliente.apellido}" class="form-control" >
                  </div>
                   <div class="form-group col-sm-6">
                    <label for="email">Dirección</label>
                    <input type="text" th:field="*{cliente.direccion}" class="form-control" >
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="email">Telefono</label>
                    <input type="text" th:field="*{cliente.telefono}" class="form-control" >
                  </div>
                 
                   <div class="form-group col-sm-6">
                    <label for="email">Municipio</label>
                   <select class="form-control" th:field="*{cliente.municipios}">
						<option value=""> Seleccione el municipio</option>
						<option th:each="muni : ${municipios}" th:value="${muni.id}" th:text="${muni.nombremunicipio}"></option>
						</select>
                  </div>
                  
                  
                  
                  <div class="form-group col-12 text-center my-4">                
                    <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
                    <a th:href="@{/usuario/cambio/contra}" class="btn btn-success">Actualizar Contraseña</a>
                  </div>
                </div>
              
                <!--  password check modal -->
                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Type your current password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                         <input type="password" class="form-control" id="password" name="password">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </div>
                  </div>
                </div> 
                <!--  /password check modal -->  
                            
              </form>
             
            </div>
          </div>
        </div>
    </div>
    </div>
 <!--  end container -->
 <div th:replace="recursos/navbar :: js"></div>
</body>
</html>