<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="recursos/navbar" xmlns:th="http://www.thymeleaf.org">
	
<head th:replace="recursos/navbar::head">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Art Academy</title>


</head>
<body>
<nav th:replace="recursos/navbar::navbar"></nav>

	<br>
	<br>
	<!-- Intro Section -->
	<section class="view intro-2">
		<div
			class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-12 col-md-10 col-sm-12 mx-auto mt-5">

						<!-- Form with header -->
						<div class="card wow fadeIn" data-wow-delay="0.3s">
							<div class="card-body">

								<!-- Default form login -->
								<form class="text-center border border-light p-5" action="#!">

									<p class="h4 mb-4">Registrarse en el sistema</p>
									<div class="form-row">
										<div class="col-md-6 mb-3">
											<a href="#" class="gplogin social"><span><i
													class="fab fa-google"></i> Seguir con Google</span></a>
										</div>
										<div class="col-md-6 mb-3">

											<a href="#" class="fblogin social"><span><i
													class="fab fa-facebook-f"></i> Seguir con Facebook</span></a>

										</div>
									</div>
									<br>
									<!-- Email -->
									<input type="email" id="defaultLoginFormEmail"
										class="form-control mb-4" placeholder="Correo Elétronico">

									<!-- Password -->
									<input type="password" id="defaultLoginFormPassword"
										class="form-control mb-4" placeholder="Contraseña"> <input
										type="password" id="defaultLoginFormPassword"
										class="form-control mb-4" placeholder="Confirmar Contraseña">



									<!-- Sign in button -->
									<a href="Forinicial.html"
										class="btn btn-default btn-block my-4" type="submit">Registrarse</a>
									<!-- Register -->
									<p>
										Ya tiene una cuenta? <a href="Login.html">Iniciar Sesión</a>
									</p>
								</form>
								<!-- Default form login -->

							</div>
						</div>
						<!-- Form with header -->

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro Section -->


	
	<div th:replace="recursos/navbar::js"></div>
</body>

</html>