<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/frontend/acount/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/frontend/acount/css/main.css}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  th:action="@{/creandoregistro}" method="post" onsubmit="return checkEmailUnique(this);">
					
					<span class="login100-form-title p-b-43">
					<i class="fas fa-user-plus"></i>
						Formulario de registro
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "El nombre es requerido">
						<input class="input100" type="text" th:field="*{cliente.nombre}">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="fas fa-user"></i> Nombre(s)</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="El apellido es requerido">
						<input class="input100" type="text" th:field="*{cliente.apellido}">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="fas fa-user"></i> Apellido(s)</span>
					</div>
						
					<div class="wrap-input100 validate-input" data-validate="La dirección es requerida">
						<input class="input100" type="text" th:field="*{cliente.direccion}">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="fas fa-directions"></i> Dirección</span>
					</div>
						
					<div class="wrap-input100 validate-input" data-validate="El teléfono es requerido">
						<input class="input100" type="text" th:field="*{cliente.telefono}">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="fas fa-phone-alt"></i> Teléfono</span>
					</div>
					
					<div class="wrap-input100">
						<select onchange="cargar_municipios(this)" class="select-2" data-validate="El departamneto es requerido">
						<option class="input100"> Seleccione el departamento</option>
						<option th:each="departamento : ${departamentos}" th:text="${departamento.nombredepartamento}" th:value="${departamento.id}"></option>
						</select>
					</div>
					
					<div class="wrap-input100">
						<select id="municipios" class="select-2" data-validate="El municipio es requerido" th:field="*{cliente.municipios}">
						<option class="input100" value=""> Seleccione el municipio</option>
						
						</select>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "El correo es requerido">
						<input class="input100" type="text" th:field="*{usuario.correo}">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="far fa-envelope"></i> Correo elétronico</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="La contraseña es requerida">
						<input class="input100" type="password" th:field="*{usuario.contraseña}">
						<span class="focus-input100"></span>
						<span class="label-input100"><i class="fas fa-key"></i> Contraseña</span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<a class="txt1" for="ckb1">
								¿Ya tienes Cuenta? Entrar
							</a>
						</div>

						
					</div>
			

					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Registrar">
						
					</div>
				</form>

				<div class="login100-more" style="background-image: url('frontend/acount/images/1.png');">
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade text-center" id="modalAlert">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
		<h4 class="modal-title" id="titulo">ERROR</h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		<span id="contenido"></span>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
		</div>
		</div>
		</div>
	</div>

	
	
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/frontend/acount/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/frontend/acount/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/frontend/acount/js/main.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
<!--===============================================================================================-->
	<script type="text/javascript">
	function checkEmailUnique(form){
		url="[[@{/usuario/check_email}]]";
		userEmail=$("#correo").val();
		csrfValue=$("input[name='_csrf']").val();
		params={correo: userEmail, _csrf: csrfValue};
		$.post(url, params, function(response){
			if(response == "OK"){
				form.submit();
			}else if(response == "Duplicado"){
				mostrarModal("ERROR","El correo "+userEmail+" ya está registrado en el sistema");
			}
			else{
				mostrarModal("ERROR","El sistema demás que se cayó");
			}
		});
		return false;
	} 
	function mostrarModal(title,mensaje){
		$("#titulo").text(title);
		$("#contenido").text(mensaje);
		$("#modalAlert").modal();
	}
	
	function cargar_municipios(e){
		$("#municipios").html('<option class="input100"> Seleccione el municipio</option>');
		let id = $(e).val();
		$.ajax({
			url: '/obtener/municipios/'+id,
			type: 'GET',
			dataType: 'json'
		}).done(respuesta => {
			respuesta.map(e => $("#municipios").append(`<option value="${e.id}">${e.nombremunicipio}</option>`))
		}).fail(error => console.log(error))
	}
	</script>
</body>
</html>
