<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Academy</title>

    <link href="//fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/frontend/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/frontend/css/style.css}">
    </head>
<body>

	<div class="col-12">
	    <div class="row">
	        <div class="col-12 mt-3 text-center text-uppercase">
	            <h2 th:text="${paginaTitulo}"></h2>
	        </div>
	    </div>
		<main class="row">
		    <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-3 mb-4">
		        <div class="row">
		            <div class="col-12">
		                <p>Por favor inicie sesion dando click <a th:href="@{/login}">Aquí</a></p>
		            </div>
		        </div>
		    </div>
		</main>
</div>
