<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="content-wrapper layout" layout:fragment="contenido">



<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           <h1><i class="fas fa-users"></i> Detalle Producto</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
              INFORMACIÓN DEL PRODUCTO:
              
                <div class="form-group">
                  <label>Nombre</label>
                  <p >[[${obra.nombre}]]</p>
                </div>
                <div class="form-group">
                  <label>Descripción</label>
                  <p >[[${obra.descripcion}]]</p>
                </div>
                <div class="form-group">
                  <label>Estado</label>
                  <p th:text="${obra.estado==true ?'Activo':'Inactivo'}"></p>
                </div>
                <div class="form-group">
                  <label>Fecha Creación</label>
                <p th:text="${#dates.format(obra.fechacreacion,'dd-MMM-yyy')}"></p>
                </div>
                <!-- /.form-group -->
              </div>
              <div class="col-md-6">
             
              
                <div class="form-group">
                  <label>Categoría</label>
                  <p >[[${obra.categoria.nombrecategoria}]]</p>
                </div>
                <div class="form-group">
                  <label>Imagen Principal</label><br>
                <img width="100" th:if="${obra.rutaimagen_principal!=null}" th:src="@{'/imagenes/'+${obra.rutaimagen_principal}}">
                </div>
                <div class="form-group">
                  <label>Imagen 2</label><br>
                  <img width="100" th:if="${obra.rutaimagen_2!=null}" th:src="@{'/imagenes/'+${obra.rutaimagen_2}}">
                </div>
                <div class="form-group">
                  <label>Imagen 3</label><br>
                 <img width="100" th:if="${obra.rutaimagen_3!=null}" th:src="@{'/imagenes/'+${obra.rutaimagen_3}}">
                </div>
                <!-- /.form-group -->
              </div>
              <div class="col-md-12">
                <div class="form-group">
					<table class="table table-bordered">
					<thead>
						<tr>
							<th style="text-align: center;">
								<h4><label>Cantidad</label></h4>
							</th>
							<th style="text-align: center;">
								<h4><label>Tamaño</label></h4>
							</th>
							
							<th style="text-align: center;">
								<h4><label>Precio</label></h4>
							</th>
						
						</tr>
					</thead>
					<tbody>
						<tr th:each="item :${obra.caracteristicas}">
							<td style="text-align: center;">[[${item.stock}]]</td>
							<td><a href="#"> [[${item.size}]] </a></td>

							<td class=" text-right ">[[${item.precio}]]</td>

							
						</tr>
						<tr >

						</tr>
					</tbody>
					</table>
					<pre></pre>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->     
            </div>
           
          </div>
        </div>
        
         <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
</div>
</section>
</div>
        <!-- /.card -->
</body>
</html>