<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Obras</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="contenido">

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <h1 class="text-center"><i class="fas fa-users"></i> Crear/Editar Producto</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">           
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>    
           <form th:action="@{/obra/guardar}"  id="formularioobra" enctype="multipart/form-data" method="post">
         <div class="row">
        
        <div class="col-6">
            <div class="card">
                <div class="card-head">
                    <h4 class="text-center">1. Info Productos </h4>
                    <p class="text-danger text-center">Campos Obligatorios *</p>
                </div>
                <div class="row card-body">
                    <div class="form-group col-6">
                        <label for="">Nombre*</label>
                        <input type="text" class="form-control" th:field="*{obra.nombre}">
                   <small id="msgnombre" style="color:red;"></small>
                    </div>
                    
                    <div class="form-group col-6">
                        <label for="">Categoria*</label>
                        <select th:field="*{obra.categoria}" class="form-control">
                            <option value="">Seleccione una categoria</option>
                            <option th:each="cate : ${categoria}" th:value="${cate.id}">[[${cate.nombrecategoria}]]</option>
                         </select>
                    </div>
                   
                   
                     <div class="form-group col-12">
                        <label for="">Descripción*</label>
                        <textarea class="form-control" id="descripcion" th:field="*{obra.descripcion}" ></textarea>
                    </div>
                     <div class="form-group col-12">
                        <label for="">Imagen Principal*</label>
                        <input type="file" name="imagenobra" class="form-control" >
                    </div>
                    <div class="form-group col-12">
                        <label for="">Imagen 2</label>
                        <input type="file" name="imagenobra2" class="form-control" >
                    </div>
                    <div class="form-group col-12">
                        <label for="">Imagen 3</label>
                        <input type="file" name="imagenobra3" class="form-control" >
                    </div>
                </div>
            </div>
         
            <div class="col-12" style="margin-top: 3%;">
                <button type="submit" id="btnconfirmar" class="btn btn-info btn-block">Guardar</button>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-head">
                    <h4 class="text-center">2. Info Caracteristicas</h4>
                </div>
                <p class="text-danger text-center">Campos Obligatorios *</p>
                <div class="row card-body text-center">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Tamaño*</label>
                            <input type="text" name="size" id="size" class="form-control" >
                        </div>
                    </div>
                   
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Cantidad*</label>
                            <input type="number" id="cantidad" name="cantidad" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="">Precio*</label>
                            <input id="precio" name="precio" type="text" class="form-control" >
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <button onclick="agregar_insumo()" type="button"
                            class="btn btn-info float-right">Agregar</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                        	<th>Tamaño</th>
                         	<th>Cantidad</th>
                            <th>Precio</th>
                            
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tblInsumos">
				
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    </form>
        </div>
         <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
   </section>
   </div>
</body>
</html>