<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Ventas</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="contenido">


		<div class="card">
			<div class="card-header border-transparent">
				<div class="container">
					<div th:if="${success != null}"
						class="alert alert-success alert-dismissible fade show"
						role="alert">
						<span th:text="${success}"></span>

					</div>
				</div>
				

				<form class="float-right" th:action="@{/pagina/1}"
					style="display: inline;">
					<div class="input-group">
						<input type="search" name="busqueda" required
							class="form-control rounded" placeholder="Buscar"
							aria-label="Search" aria-describedby="search-addon" />
						<button type="submit" class="btn btn-outline-info	">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>




			</div>
			<!-- /.card-header -->
			<div class="card-body p-0">
				<div class="table-responsive">

					<table class="table table-bordered table-striped">

						<thead>
							<tr>
								<th>Número de venta</th>
								<th>Nombre</th>
								
								<th>Fecha</th>
								<th>Comprobante</th>
								<th>Estado</th>
								<th>Total</th>
								<th>Opciones</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each=" Ventas : ${Listaventas}">
							
								<th th:text="${Ventas.id}"></th>
								<th th:text="${Ventas.usuarios.clientes.nombre}"></th>
								
								<th th:text="${#dates.format(Ventas.fechaventa, 'dd-MMM-yyy')}"></th>
								<!--  <th th:text="${Ventas.estado.nombre}"></th>-->
								 <td><img th:if="${Ventas.comprobante!=null}" style="max-width: 180px; max-height: 150px;"  th:src="@{'/comprobantes/'+${Ventas.comprobante}}" alt="Card image cap"></td>
								<th >
								<form method="POST" class="text-center" th:action="@{/venta/actualizarEstado}">
								<input type="hidden" th:value="${Ventas.id}" th:name="ventaestado">
								<select th:name="estadoNew" class="form-control form-control-sm">
									<th:block th:each="estado : ${estados}">
									<option th:value="${estado.id}" selected th:if="${estado.id} == ${Ventas.estado.id}">[[${Ventas.estado.nombre}]]</option>
									<option th:value="${estado.id}" th:if="${estado.id} != ${Ventas.estado.id}">[[${estado.nombre}]]</option>									
									</th:block>
								</select>
									<input  class="btn btn-warning btn-sm my-2" type="submit" th:if="${Ventas.estado.nombre!= 'CANCELADO'} " value="ACTUALIZAR">
								</form> 								</th>
								<!--<th th:text="${Ventas.estado.nombre}"></th>-->
								<th th:text="${Ventas.totalventa}"></th>
								
								<th>
									<a th:href="@{/venta/detalle/}+${Ventas.id}"class="btn btn-info btn-sm">Detalle Venta</a><br><br>
									<a th:href="@{/venta/comprobante/}+${Ventas.id}"class="btn btn-success btn-sm">Comprobante</a>
									</th>

							</tr>
						</tbody>

					</table>

				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.card-body -->
			<div class="card-footer clearfix">
			
				<div class="float-right">


					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">

							<li class="page-item "
								th:classappend="${currentPage==1? 'disabled': ''}"><a
								class="page-link" th:if="${currentPage>1}" th:href="@{/obra/pagina/1}">Primero</a>
								<span th:unless="${currentPage>1}" class="page-link">Primero</span>
							</li>

							<li class="page-item"
								th:classappend="${currentPage == 1 ? 'disabled': ''}"><a
								class="page-link" th:if="${currentPage>1}"
								th:href="@{'/obra/pagina/' + ${currentPage-1}}">Anterior</a> <span
								th:unless="${currentPage>1}" class="page-link">Anterior</span></li>

							<li th:each="i:${#numbers.sequence(1,totalpages)}"
								class="page-item"
								th:classappend="${i == currentPage ? 'active': ''}"><a
								th:if="${ i != currentPage }" th:href="@{'/obra/pagina/' +  ${i}}"
								class="page-link">[[${i}]]</a> <span class="page-link"
								th:unless="${i != currentPage}">[[${i}]]</span>&nbsp;&nbsp;</li>

							<li class="page-item"
								th:classappend="${currentPage==totalpages ? 'disabled': ''}">
								<a class="page-link" th:if="${currentPage<totalpages }"
								th:href="@{'/obra/pagina/' + ${currentPage + 1}}">Siguiente</a> <span
								th:unless="${currentPage < totalpages}" class="page-link">Siguiente</span>
							</li>

							<li class="page-item"
								th:classappend="${currentPage==totalpages ? 'disabled': ''}">
								<a class="page-link" th:if="${currentPage<totalpages }"
								th:href="@{'/obra/pagina/' + ${totalpages}}">Ultima</a> <span
								th:unless="${currentPage < totalpages}" class="page-link">Ultima</span>
							</li>

						</ul>
					</nav>


					Total Registros : [[${totalItems}]] &nbsp; - Página
					[[${currentPage}]] de [[${totalpages}]]





				</div>
			</div>
			<!-- /.card-footer -->
		</div>
	</div>
	<script type="text/javascript" th:src="@{/backend/js/alerta.js}"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>