<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:fragment="alertas">
<div class="alerta show" th:if="${info!=null}">
		<span class="fas fa-check-circle"></span> <span class="msg">Éxito:
			[[${info}]]</span> <span class="close-btn"> <span
			class="fas fa-times"></span>
		</span>
	</div>

	<div class="error show" th:if="${error!=null}">
		<span class="fas fa-exclamation-triangle"></span> <span class="msg">Advertencia
			: [[${error}]]</span> <span class="close-btn"> <span
			class="fas fa-times"></span>
		</span>
	</div>
	</div>
	
</body>
</html>