<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="contenido">

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-center"><i class="fas fa-users"></i> Crear/Editar Usuario</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
           

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>    
          
           <form  th:action="@{/editarnuevousuario}"  th:object="${usuario}" method="post" id="registro">
           <input type="hidden" th:field="*{id}" th:value="${usuario.id}">
          
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Rol</label>
                  <select class="form-control select2" style="width: 100%;" th:field="*{roles}" >
                  <th:block th:each="rol:${roles}">
                    <option th:value="${rol.id}" th:text="${rol.nombre}"></option>
                   </th:block>
                  </select>
                </div>
                
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo</label>
                  <input type="text" class="form-control" th:field="*{correo}" >
                <small class="from-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
                </div>
              </div>
              <input type="hidden" th:if="${usuario.id != null}" th:field="*{contraseña}">
              <!-- /.col -->
                
            </div>
            <!-- /.row -->
             <a th:href="@{/ListaUsuarios}" class="btn btn-outline-success"><i class="fas fa-undo-alt"></i> Volver</a>
            <button type="submit" class="btn btn-info" >Confirmar</button>
            <div class="row">
              
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          </form>
        </div>
</div>
</section>
</div>
</body>
</html>