<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="recursos/admin" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="contenido">

           
            <div class="card">
              <div class="card-header border-transparent">

               <a  href="Editar.html" type="button" class="btn btn-outline-success accion"><i class="fas fa-user-plus"></i> Agregar un nuevo usuario</a>
               
                <form class="float-right" style="display: inline;">
                
		               <div class="input-group">
		  <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
		    aria-describedby="search-addon" />
		  <button type="button" class="btn btn-outline-info	"><i class="fas fa-search"></i></button>
		</div>
		               
                </form>
               
                

               
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                
                  <table  class="table table-bordered table-striped">
                  
                    	<thead>
		                    <tr>
		                      	<th>Nombre Usuario</th>
		                     	<th>Correo</th>
		                     	<th>Rol</th>
		                     	 <th>Opciones</th>
		                    </tr>
                    	</thead>
                    
                    	<tbody>
		                    <tr th:each=" Usuarios : ${ListaUsu}">
		                      	<th th:text="${Usuarios.nombreusuario}"></th>
		                      	<th th:text="${Usuarios.correo}"></th>
		                      	<th th:text="${Usuarios.roles}"></th>
		                      	<th><button onclick="activar()" type="button" class="btn btn-success"><i class="fas fa-user"></i> Activar</button>
                      <button onclick="desactivar()" type="button" class="btn btn-danger"><i class="fas fa-user-alt-slash"></i> Desactivar</button>
                      <button type="button" class="btn btn-info"><i class="fas fa-user-edit"></i> Editar</button></th>
		                    </tr>
                   	 </tbody>
                   	 
                  </table>
                  
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <button type="button" onclick="print()" class="btn btn-outline-info"><i class="fas fa-file-pdf"></i> Descargar Reporte</button>
                <div class="float-right">
                <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


Total Paginas [[${totalItems}]]   - Página [[${currentPage}]] de [[${totalpages}]] <br>
<span th:each="i:${#numbers.sequence(1,totalpages)}"><span> [[${i}]]</span></span>

                </div>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            </div>
</body>
</html>